
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">К началу</a></p>
        <p>&copy; Интернет-магазин <a href="http://art-guru.in.ua">art-guru.in.ua</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <script src="$root/js/lightbox-plus-jquery.min.js"></script>
    <script src="$root/js/bootstrap.min.js"></script>
  </body>
</html>
