      <div class="jumbotron">
        <a href="$!{root}/images/example/003.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/003-preview.jpg" height="100px">
        </a>

        <a href="$!{root}/images/example/002.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/002-preview.jpg" height="100px">
        </a>

        <a href="$!{root}/images/example/001.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/001-preview.jpg" height="100px">
        </a>
        <a href="$!{root}/images/example/004.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/004-preview.jpg" height="100px">
        </a>
        <!--a href="images/example/005.jpg" data-lightbox="jumbotron">
          <img src="images/example/005.jpg" height="100px">
        </a-->
        <a href="$!{root}/images/example/006.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/006-preview.jpg" height="100px">
        </a>
        <a href="$!{root}/images/example/007.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/007-preview.jpg" height="100px">
        </a>
        <!--a href="images/example/008.jpg" data-lightbox="jumbotron">
          <img src="images/example/008.jpg" height="100px">
        </a-->
        <a href="$!{root}/images/example/009.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/009-preview.jpg" height="100px">
        </a>
        <a href="$!{root}/images/example/010.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/010-preview.jpg" height="100px">
        </a>
        <!--a href="images/example/011.jpg" data-lightbox="jumbotron">
          <img src="images/example/011.jpg" height="100px">
        </a-->
        <a href="$!{root}/images/example/012.jpg" data-lightbox="jumbotron">
          <img src="$!{root}/images/example/012-preview.jpg" height="100px">
        </a>
      </div>
