      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="$!{root}/pencils/manga24.html">Для специальных задач</a></h2>
          <p  class="lead">Карандаши Prismacolor &mdash; далеко не единственная продукция марки, заслуживающая внимания. Сегодня ассортимент значительно расширен за счёт аксессуаров. Большим спросом пользуются маркеры Prismacolor.</p>

          <p  class="lead">Среди вспомогательных инструментов Prismacolor для художника можно выделить ластики нескольких видов, качественные точилки, которые не портят карандаши и экономят цветной грифель.</p>

          <p class="lead">Для хранения карандашей и иных продуктов от Prismacolor можно приобрести фирменный чехол, в котором имеется место для каждого предмета.</p>
        </div>
        <!-- image -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
                <a href="$!{root}/images/manga-24.jpg" data-lightbox="manga-24">
                  $!{image_featurette_prismacolor_manga_24_jpg}
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <a href="$!{root}/images/manga-24-02.jpg" data-lightbox="manga-24">
                 $!{image_36_icon_palette_png}
              </a>

              <a href="$!{root}/images/manga-24-01.jpg" data-lightbox="manga-24">
                 $!{image_38_icon_unboxing_png}
              </a>

              <a href="http://art-guru.in.ua/ru/home/27-prismacolor-premier-manga-colored-pencil-set-23-.html">
                 $!{image_40_icon_buy_png}
              </a>
            </div>
          </div>
        </div>
        <!-- image -->
      </div>

      <hr class="featurette-divider">
