      <div class="row featurette">
        <!-- image -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
                <a href="$!{root}/images/portrait-24.jpg" data-lightbox="portrait-24">
                  $!{image_featurette_prismacolor_portrait_24_jpg}
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <a href="$!{root}/images/portrait-24-02.jpg" data-lightbox="portrait-24">
                 $!{image_36_icon_palette_png}
              </a>

              <a href="$!{root}/images/portrait-24-01.jpg" data-lightbox="portrait-24">
                 $!{image_38_icon_unboxing_png}
              </a>

              <a href="http://art-guru.in.ua/ru/predzakaz/67-sanford-prismacolor-premier-portrait-colored-pencil-24.html">
                 $!{image_40_icon_buy_png}
              </a>
            </div>
          </div>
        </div>
        <!-- image -->
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="$!{root}/pencils/portrait24.html">Стоимость</a></h2>
          <p class="lead">Карандаши Prismacolor могу показаться дорогими, но достаточно лишь беглого сравнения с конкурентами (цена которых может доходить до 3-4$ за один карандаш) для понимания, насколько ложным является первое впечатление.</p>

          <p class="lead">Именно доступная часто является решающим фактором в сложном и важном деле выбора художественных материалов. Ведь логика достаточно проста: учитывая разницу в стоимости вы можете позволить себе наборы с большем количеством цветов, дополнительные аксессуары или просто снизить нагрузку на кошелек. В любом случае, выбора за вами.</p>

          </div>
      </div>

      <hr class="featurette-divider">
