      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="$root/pencils/premier24.html">Начать просто</a></h2>
          <p class="lead">Ни один обзор, отзыв или впечатление другого человека не заменят собственного опыта. Иногда, достаточно всего нескольких штрихов для формирования своего собственно, и часто самого важного, мнения.</p>

          <p class="lead">Остановите свой выбор на самом доступном наборе и попробуйте поработать с ним. Даже самый базовый набор карандашей позволит почувствовать "магию" Prismacolor, оценить качество пигмента, смешиваемость и другие, не менее важные, нюансы.</p>

          <p class="lead">Продукция Prismacolor стала популярной, настолько, что её реализует почти каждый серьёзный магазин, специализирующийся на профессиональных материалах для художников.</p>
        </div>
        <!-- image -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
                <a href="$root/images/premier-24.jpg" data-lightbox="premier-24">
                  $image-featurette-prismacolor-premier-24-jpg
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <a href="$root/images/premier-24-02.jpg" data-lightbox="premier-24">
                 $image-36-icon-palette-png
              </a>

              <a href="$root/images/premier-24-01.jpg" data-lightbox="premier-24">
                 $image-38-icon-unboxing-png
              </a>

              <a href="http://art-guru.in.ua/ru/home/63-prismacolor-premier-colored-pencils-24.html">
                 $image-40-icon-buy-png
              </a>
            </div>
          </div>
        </div>
        <!-- image -->
      </div>

      <hr class="featurette-divider">
