
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="$root/pencils/premier132.html">Карандаши Prismacolor</a></h2>
          <p class="lead">Prismacolor &mdash; известный бренд профессиональных художественных материалов, который был основан в 1938 году. Основным продуктом, принесшим бренду известность во всем мире, являются цветные карандаши.</p>

          <p class="lead">Профессиональные художники любят карандаши Prismacolor за их качество, яркие и насыщенные цвета, отличные возможности для смешивания и разнообразие оттенков. Любопытно, но качество карандашей Prismacolor сочетается с разумной ценовой, делая профессиональные материалы доступными даже для начинающих художников. Согласитесь, всегда приятно работать с качественными материалами.</p>

          <p class="lead">Более того, для начинающих художников, качество материалов может иметь даже большее значение, поскольку очень критично сохранить интерес и сосредоточиться на более важных аспектах сложного и очень непокорного дела.</p>

          <p class="lead">На данный момент, предлагаемая палитра насчитывает 150 цветов и несколько дополнительных продуктов для их смешивания.</p>

        </div>

        <!-- image -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
                <a href="$root/images/premier-132.jpg" data-lightbox="premier-132">
                  $image-featurette-prismacolor-premier-132-jpg
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <a href="$root/images/premier-132-03.jpg" data-lightbox="premier-132">
                $image-36-icon-palette-png
              </a>

              <a href="$root/images/premier-132-01.jpg" data-lightbox="premier-132">
                $image-38-icon-unboxing-png
              </a>

              <a href="http://art-guru.in.ua/ru/home/64-prismacolor-premier-soft-core-colored-pencils-132.html">
                $image-40-icon-buy-png
              </a>
            </div>
          </div>
        </div>
        <!-- image -->

      </div>

      <hr class="featurette-divider">
