      <hr class="featurette-divider">

      <div class="row featurette">
        <!-- image -->
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
                <a href="$!{root}/images/premier-72.jpg" data-lightbox="premier-72">
                  $!{image_featurette_prismacolor_premier_72_jpg}
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <a href="$!{root}/images/premier-72-03.jpg" data-lightbox="premier-72">
                 $!{image_36_icon_palette_png}
              </a>

              <a href="$!{root}/images/premier-72-01.jpg" data-lightbox="premier-72">
                 $!{image_38_icon_unboxing_png}
              </a>

              <a href="http://art-guru.in.ua/ru/home/65-prismacolor-premier-soft-core-colored-pencils-72.html">
                 $!{image_40_icon_buy_png}
              </a>
            </div>
          </div>
        </div>
        <!-- image -->
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="$!{root}/pencils/premier72.html">Оптимальный выбор</a></h2>

          <p class="lead">Разнообразие доступных вариантов часто делает выбор сложным. Большие наборы, без сомнения, выглядят очень привлекательно, но некоторые цвета могут оказаться настолько близкими, что новичку будет даже сложно заметить разницу. Таким образом, одним из самых оптимальных является набор, который включает в себя 72 карандаша. По сути, этот набор предлагает достаточное количество цветов при разумной стоимости.</p>

          <p class="lead">Естественно, если вы профессионал, большое количество доступных цветов однозначно не является проблемой, поскольку вам может понадобиться вся доступная палитра.</p>

          <p class="lead">Перечислим основные преимущества карандашей Prismacolor:</p>
          <ul class="lead">
             <li>качественный и яркий пигмент</li>
             <li>150 цветов в предлагаемой палитре</li>
             <li>относительно невысокая стоимость</li>
             <li>высокая смешиваемость</li>
          </ul>
        </div>
      </div>

      <hr class="featurette-divider">
