      <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><a href="$root/pencils/premier48.html">Типы карандашей Prismacolor</a></h2>
        <p class="lead">Цветные карандаши Prismacolor бывают нескольких типов. Prismacolor Premier Colored Pencils предназначены для профессиональных художников. Среди них есть как мягкие так и твёрдые карандаши. Также есть и такие, которые используются вкупе с водой и кистью для создания эффекта акварели.</p>
        <ul class="lead">
          <li>Soft Core Colored Pencils - мягкие карандаши</li>
          <li>Verithin Colored Pencils - твердые карандаши</li>
          <li>Watercolor Pencils - акварельные карандаши</li>
        </ul>
        <p class="lead">
          Разные типы карандашей отлично дополняют друг друга. Например, твердые карандаши хорошо затачиваются, поэтому их часто используют вместе с мягкими, для проработки мелких деталей.</p>
        <p class="lead">
          Если вас терзают сомнения &mdash; присмотритесь к набору мягких карандашей с достаточным количеством цветов и небольшому набору твердых. Такое сочетание, по мнению многих, является самым оптимальным.</p>
      </div>
      <!-- image -->
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
              <a href="$root/images/premier-48.jpg" data-lightbox="premier-48">
                $image-featurette-prismacolor-premier-48-jpg
              </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <a href="$root/images/premier-48-03.jpg" data-lightbox="premier-48">
               $image-36-icon-palette-png
            </a>

            <a href="$root/images/premier-48-02.jpg" data-lightbox="premier-48">
               $image-38-icon-unboxing-png
            </a>

            <a href="http://art-guru.in.ua/ru/prismacolor/112--prismacolor-premier-soft-core-colored-pencils-48.html">
               $image-40-icon-buy-png
            </a>
          </div>
        </div>
      </div>
      <!-- image -->
      </div>

      <hr class="featurette-divider">
