<div class="row featurette">
  <!-- image -->
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
          <a href="$root/images/verithin-24.jpg" data-lightbox="verithin-24">
            $image-featurette-prismacolor-verithin-24-jpg
          </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <a href="$root/images/verithin-24-02.jpg" data-lightbox="verithin-24">
           $image-36-icon-palette-png
        </a>

        <a href="$root/images/verithin-24-01.jpg" data-lightbox="verithin-24">
           $image-38-icon-unboxing-png
        </a>

        <a href="http://art-guru.in.ua/ru/home/26-prismacolor-verithin-colored-pencils-24-colored-pencils2427.html">
           $image-40-icon-buy-png
        </a>
      </div>
    </div>
  </div>
  <!-- image -->
  <div class="col-md-7">
    <h2 class="featurette-heading"><a href="$root/pencils/verithin24.html">Для мелких деталей</a></h2>
    <p class="lead">Отдельно стоит остановиться на твердых карандашах Prismacolor, поскольку "магия" мягких карандашей, зачастую, оставляет свойства других карандашей за кадром.</p>

    <p class="lead">Карандаши Verithin тонкие и твердые &mdash; идеальные для работы с мелкими деталями. Их легко заточить и использовать в работе, не тратя время на частые правки.</p>

    <p class="lead">Возможно, для ваших целей будет достаточно и мягких карандашей, но не забывайте о наличии дополнительных материалов, которые смогут сделать ваши работы еще лучше, а работу над ними проще и приятнее.</p>
  </div>
</div>

<hr class="featurette-divider">
